# SPDX-License-Identifier: LGPL-2.1-only

[Unit]
Description=roblet server
After=syslog.target

[Service]
User=roblet
SyslogIdentifier=roblet
Nice=10
ExecStart=/opt/roblet/roblet

[Install]
WantedBy=multi-user.target
