Package: roblet
Version: [[version]]
Section: misc
Priority: none
Architecture: all
Depends: default-jre-headless
Maintainer: Hagen Stanek, roblet.org <stanek@roblet.org>
Description: roblet server
 This is the base server for roblets.
 No additional modules are included.
